/*LOGIN*/

#hp-navbar {
  background-color: tomato;
  padding: 2em 4em;
}

.body-login {
  background-color: tomato;
}
.lf-text-content {
  padding-top: 8.5em;
  color: #fff;
}
.lf-sec1 {
  padding: 2em 5em;
}
.login-form,
.signup-form {
  background-color: #fff;
  padding: 3em 5em;
  margin-top: -0.6em;
}
.lf-login,
.lf-signup {
  padding: 1em 3em;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0.5em 0.5em 0em 0em;
}
.login-form {
  border: 1px solid white;
  border-radius: 0em .5em .5em .5em;
  background-color: white;
}
.signup-form {
  border: 1px solid white;
  border-radius: 0.5em .5em .5em .5em;
  background-color: white;
}
.login-btn,
.signup-btn {
  padding: 1em 3em;
  background-color: tomato;
  color: white;
  text-decoration: none;
  border: 1px solid tomato;
  border-radius: 0.4em;
}
.lf-form:hover {
  border: 1px solid tomato;
}
.lf-textarea:hover {
  border: 1px solid tomato;
}

/*--------------------
MEDIA QUERY
--------------------*/
@media(max-width: 767px) {
  .lf-sec1 {
    padding: 2em 4em;
  }
  .lf-text-content {
    padding: 2em 1em 4em 1em;
    color: #fff;
    text-align: justify;
  }
}

@media (max-width: 500px){
.lf-sec1 {
    padding: 2em 2em;
}
#hp-navbar {
  background-color: tomato;
  padding: 2em 1em;
}
.login-form, .signup-form {
  background-color: #fff;
  padding: 3em;
  margin-top: -0.6em;
}
.lf-login, .lf-signup {
  padding: 1em 2em;
  font-size: 14px;
}
}