/*---------------------------------------------------
IMPORT URL
---------------------------------------------------*/
@import url("css/login.css");
@import url("css/homepage.css");



/*--------------------
END
--------------------*/
/*--------------------
GENERAL
--------------------*/

html, body {
  height: 100%; overflow-x: hidden
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 56px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 24px;
}

p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 2em;
}


/* button with btn class */
.btn {
  background-color: tomato; 
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  color: white;
}


a:hover {
  text-decoration: none;
  color: white;
}

.btn-search {
  border-radius: 1em;
  border: 1px solid #fff;
  color: #000;
  background-color: #fff;
}

/* all form labels */
label {
  font-size: 12px !important;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

/*forms*/
input[type="text"] {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  font-size: 12px;
  margin-top: -0.5em;
}
input[type="password"] {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  font-size: 12px;
  margin-top: -0.5em;
}  
input[type="email"] {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  font-size: 12px;
  margin-top: -0.5em;
}
input[type="datetime-local"] {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  font-size: 12px;
  margin-top: -0.5em;
}
select{
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  font-size: 12px;
  margin-top: -0.5em;
}
option {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}


/*DASHBOARD */
#navbar-dashboard {
background-color: tomato;
}

.navbar-logo {
  color: white;
  font-size: 40px;
  padding-bottom: 0.3em;
}

#navbar-navs a{
  color: white;
}
/*END*/


.dummy-img {
  background-color: tomato;
  height: 100px;
}



.hp-nav-logo {
  color: #fff !important;
}

.prod-img{
  width: 100%;
  height: 280px;
}

.cart-btn {
  background-color: tomato;
  color: white;
  padding: 1em 4.2em;
}

.ship-footer {
  background-color: tomato;
  height: 22.7em;
  padding: 2em 0em;
}

.ship-navs {
  padding-right: 2em;
  color: white;
}

.ship-nav-drpdwn {
  margin: 0em 30em;
}




/*Single product*/
.dummy-sp {
  background-color: tomato;
  width: 100%;
  height: 300px;
}

.sp-breadcrumb {
  background-color: #fff;
}

.sp-breadcrumb a {
  color: #000;
}

/*cart*/
.cart-tbl {
  margin: 5em;
}


/*routes*/
.routes-tbl-wrapper{
  padding:1em 0em;
}

.routes-tbl {
  border-radius: 0.5em;
    box-shadow: 8px 6px 17px -2px rgba(0, 0, 255, .2);
    /*min-height: 30.3em;*/
}

.routes-tbl td {
  font-size: 12px;
  padding-top: 1em;
}

.routes-tbl th {
  font-size: 12px;
}

.route-forms {
  padding: 3em;
  margin-top: 3.5em;
  border-radius: 0.5em;
  box-shadow: 8px 6px 17px 7px rgba(0, 0, 255, .2);
}

td.route-tbl-col {
  padding-top: 1.9em;
}

/*-----------------
Media Query
-----------------*/
@media(max-width: 767px){
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 16px;
  }

  p{
    font-size: 14px;
  }
}